<% if @user.errors.any? %>
<div class="alert alert-warning">
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
<h2>User info</h2>
<%= form_for(@user) do |f| %>
<p>Name
 <%= f.text_field :name %></p>
 <p>Image
 	<%= f.attachment_field :profile_image %></p>
	<p>Introduction
	<%= f.text_area :introduction %>
	</p>
	<%= f.submit 'Update User' %>
	<% end %>
		</div>
	</div>
</div>