<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<!-- <div class="page">
				<p id="notice">
					<%= notice %>
				</p>
			</div> -->
			<%= render 'books/list', book: @bookn, user: @user %>
		</div>
		<div class="col-lg-9">
				<h2>Book detail</h2>
				<table class="table, table table-hover">
				<tr>
					<td><%= attachment_image_tag @book.user,
							:profile_image, :fill, 35, 35,
							format: 'jpeg', fallback: "no_image.jpg",
							size: "35x35" %>
					</td>
					<td><%= link_to @user.name, user_path(@user.id) %></td>
					<td><%= link_to @book.title %></td>
					<td><%= @book.body %></td>
					<% if current_user.id == @user.id %>
						 <div>
							<td><button class="btn btn-success btn-xs ">
								<%= link_to  "Edit", edit_book_path(@book.id) %>
								</button>
							</td>
							<td>
								<button class="btn btn-danger btn-xs ">
									<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
								</button>
							</td>
						</div>
						<% end %>
				</tr>
				</table>
		</div>
	</div>
</div>
